{{abe type="data" key="product3" source="select title,cover_273x273,cover_566x253,description from /articles where `abe_meta.template`=`single-product`" desc="Select 7 products from this list" display="{{title}}" max-length="7" reload="true"}}

{{#each push}}
  {{abe type="text" key="push.title" desc="titre" visible="false" reload="true"}}
  {{abe type="text" key="push.desc" desc="desc" visible="false" reload="true"}}
{{/each}}

    <div class="row">
      {{#if push.0.title}}
      <div class="columns large-3">
        <div class="bloc-info red">
          <p class="bloc-info__title">{{push.0.title}}</p>
          <hr />
          <p class="bloc-info__subtitle">{{push.0.desc}}</p>
          <i class="icon icon--soy"></i>
        </div>
      </div>
      {{else}}
      <div class="columns large-3">
        <article class="single-product relative" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.0.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="{{product3.0.abe_meta.link}}" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.0.cover_273x273}}" alt="{{product3.0.title}}" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      {{/if}}
      <div class="columns large-3">
        <article class="single-product relative" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.0.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="{{product3.0.abe_meta.link}}" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.0.cover_273x273}}" alt="{{product3.0.title}}" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      <div class="columns large-3">
        <article class="single-product relative" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.1.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="#" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.1.cover_273x273}}" alt="" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      <div class="columns large-3">
        <article class="single-product relative" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.2.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="#" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.2.cover_273x273}}" alt="" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      <div class="columns large-3">
        <article class="single-product relative" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.3.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="#" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.3.cover_273x273}}" alt="" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      <div class="columns large-3">
        <article class="single-product relative" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.4.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="#" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.4.cover_273x273}}" alt="" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      {{#if product3.5.title}}
      <div class="columns large-6">
        <article class="single-product relative extended-horizontal" style="background-image: url('/images/product-background-1.jpg')">
          <div class="single-product__blocks-overlay">
            <h3>{{product3.5.title}}</h3>
            <hr/>
            <p>
              Intense cinemmon.
              <br />Let's cook cookies and pies.
            </p>
            <a href="#" class="thai-button thai-button_black">Discover</a>
          </div>
          <img class="h-center" src="{{product3.5.cover_566x253}}" alt="" />
          <i class="icon icon--soy icon-red absolute"></i>
        </article>
      </div>
      {{/if}}
    </div>