<div class="row">
  <div class="columns large-6">
    <div class="row">
          <div class="columns large-6">
            <article class="single-product relative">
              <div class="single-product__blocks-overlay">
                <h3>{{this.0.title}}</h3>
                <hr/>
                <p>
                  Intense cinemmon.
                  <br />Let's cook cookies and pies.
                </p>
                <a href="single-product.html" class="thai-button thai-button_black">Discover</a>
              </div>
              <img class="h-center" src="{{this.0.cover_273x273}}" alt="" />
              <i class="icon icon--timer icon-mustard absolute"></i>
            </article>
          </div>
          <div class="columns large-6">
            <article class="single-product relative">
              <div class="single-product__blocks-overlay">
                <h3>{{this.1.title}}</h3>
                <hr/>
                <p>
                  Intense cinemmon.
                  <br />Let's cook cookies and pies.
                </p>
                <a href="single-product.html" class="thai-button thai-button_black">Discover</a>
              </div>
              <img class="h-center" src="{{this.1.cover_273x273}}" alt="" />
              <i class="icon icon--timer icon-mustard absolute"></i>
            </article>
          </div>
          <div class="columns large-12">
            <article class="single-product relative extended-horizontal">
              <div class="single-product__blocks-overlay">
                <h3>{{this.2.title}}</h3>
                <hr/>
                <p>
                  Intense cinemmon.
                  <br />Let's cook cookies and pies.
                </p>
                <a href="#" class="thai-button thai-button_black">Discover</a>
              </div>
              <img class="h-center" src="{{this.2.cover_566x253}}" alt="" />
              <i class="icon icon--timer icon-mustard absolute"></i>
            </article>
          </div>
    </div>
  </div>

  <div class="columns large-3">
    <article class="single-product relative extended-vertical">
      <div class="single-product__blocks-overlay v-center">
        <h3>{{this.3.title}}</h3>
        <hr/>
        <p>
        {{this.3.description}}
        </p>
        <a href="#" class="thai-button thai-button_black">Découvrir</a>
      </div>
      <img class="a-center" src="{{this.3.cover_273x546}}" alt="" />
      <i class="icon icon--timer icon-mustard absolute"></i>
    </article>
  </div>

  <div class="columns large-3">
    <article class="single-product relative extended-vertical">
      <div class="single-product__blocks-overlay v-center">
        <h3>{{this.4.title}}</h3>
        <hr/>
        <p>
        {{this.4.description}}
        </p>
        <a href="#" class="thai-button thai-button_black">Découvrir</a>
      </div>
      <img class="a-center" src="{{this.4.cover_273x546}}" alt="" />
      <i class="icon icon--timer icon-mustard absolute"></i>
    </article>
  </div>

</div>