<div class="row">
  <div class="columns large-3">
    <div class="bloc-info orange">
      <p class="bloc-info__title">Discover
        <br />step by step</p>
      <hr />
      <p class="bloc-info__subtitle">Enter the kitchen
        <br />French cuisine step by step</p>
      <i class="icon icon--box"></i>
    </div>
  </div>

  <div class="columns large-9">
    <article class="single-product relative extended-horizontal">
      <div class="single-product__blocks-overlay">
        <h3>{{this.0.title}}</h3>
        <hr/>
        <p>
          {{this.0.description}}
        </p>
        <a href="{{this.0.abe_meta.link}}" class="thai-button thai-button_black">Discover</a>
      </div>
      <img class="h-center" src="{{this.0.cover_273x273}}" alt="" />
      <i class="icon icon--box icon-orange absolute"></i>
    </article>
  </div>
</div>
