{{abe type="data" key="products" source="select title, cover_273x273,cover_566x253,cover_273x546, description from /articles where `abe_meta.template`=`single-product`" desc="Select 5 products from this list" display="{{title}}" max-length="5" reload="true" editable="false"}}

<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang=""><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang=""><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example 4</title>
  <link rel="stylesheet" href="/assets/css/app.min.css">
  <!--link href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i" rel="stylesheet"-->
</head>

<body>
  <section class="products relative">
    <div class="row">
      <h2>This is a title</h2>
      <p class="description">This is a description about products introduced below</p>
    </div>
    <div class="row">
      {{#eachGroup products '[{"group":"one","qty":"1"},{"group":"two","qty":"2"},{"group":"three","qty":"1"}]'}}
        {{#with one}}
        {{#if this.0.title}}
          <h3>Group one</h3>
          {{this.0.title}} <img src="{{this.0.cover_273x273}}" width="40"><br/>
        {{/if}}
        {{/with}}
        {{#if two.0.title}}
          <h3>Group two</h3>
          {{two.0.title}} <img src="{{two.0.cover_273x273}}" width="40"><br/>
          {{two.1.title}} <img src="{{two.1.cover_273x273}}" width="40"><br/>
        {{/if}}
        {{#if three.0.title}}
          <h3>Group three</h3>
          {{three.0.title}} <img src="{{three.0.cover_273x273}}" width="40"><br/>
        {{/if}}
      {{/eachGroup}}
    </div>
  </section>
</body>
</html>